<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="IsTraceEnable" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="TrainingTaskLoggerLevel" value="Debug"/>
	</appSettings>

	<connectionStrings>
		<add name="DbConnectionString" connectionString="Data Source=QWS-KOA-7\SQL2005;Initial Catalog=TestPlan;Integrated Security=True" providerName=".NET Framework Data Provider for SQL Server"/>
		<!--<add name="DbConnectionString" connectionString="Data Source=QWS-KOA-7\SQL2005;Integrated Security=False; User ID=TestPlan; Password=1234; Initial Catalog=PlanTest;"
		   providerName=".NET Framework Data Provider for SQL Server" />-->
		<add name="DaoProvider" connectionString="Data.NHibernate.dll" providerName="Data.NHibernate"/>
		<add name="LogDirectory" connectionString=""/>
	</connectionStrings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>