@using Client.Web.App_GlobalResources
@using Client.Web.Controllers
@using MvcJqGrid

@{
	Layout = "~/Views/Shared/MasterPages/_TwoColumnsLayout.cshtml";
}
<div class="right-columnAlt">
	@(Html.Grid("Basic")
	.SetCaption(Views.CurrencyType)
	.AddColumn(new Column("Name").SetLabel(Views.CurrencyType))
	.SetUrl(Url.Action(MainGridController.ListAction, MainGridController.Name))
	.SetAutoWidth(true)
	.SetRowNum(10)
	.SetRowList(new[] { 10, 15, 20, 50 })
	.SetViewRecords(true)
	.SetMultiSelect(true)
	.SetMultiSelectWidth(20)
	.SetPager("pager"))
</div>