
/Sources/Client.Web/bin
/Sources/Client.Web/obj
/Sources/Data/bin
/Sources/Data/obj
/Sources/Data.NHibernate/bin
/Sources/Data.NHibernate/obj
/Sources/Entities/bin
/Sources/Entities/obj
/packages
/packages/repositories.config
/Sources/_ReSharper.Plan
/Tests/Data.Test/bin
/Tests/Data.Test/obj
/Sources/Plan.suo
/Sources/Data/Data.csproj.user
/Tests/Data.Test/Data.Test.csproj.user
/Sources/Entities/Entities.csproj.user
/Sources/Plan.5.0.ReSharper.user
/Sources/Data.IoC/bin
/Sources/Data.IoC/obj
/Sources/Data
/Sources/Common.Exeptions/bin
/Sources/Common.Exeptions/obj
/Sources/Services/bin
/Sources/Services/obj
/Sources/packages
/Sources/Data.Test/bin
/Sources/Data.Test/obj
/Sources/Common.Data.Core/bin
/Sources/Common.Data.Core/obj
/Sources/*.user
/Sources/*.user
/Sources/MvcJqGrid.Example/bin
/Sources/MvcJqGrid.Example/obj
/Sources/*.suo
/Sources/MvcJqGrid.Example/*.user
/Sources/Client.Web.Test/bin
/Sources/Common.Security/obj
/Sources/Common.Security/bin

/Sources/Client.Web/Web.config
/Sources/Client.Web/Web.Debug.config
/Sources/Client.Web/Web.Release.config
/Sources/Data.Test/App.config
/Sources/Common.Web/bin
/Sources/Common.Web/obj
/Sources/Client.Web.Test/obj