
/Sources/Client.Web/bin
/Sources/Client.Web/obj
/Sources/Data/bin
/Sources/Data/obj
/Sources/Data.NHibernate/bin
/Sources/Data.NHibernate/obj
/Sources/Entities/bin
/Sources/Entities/obj
/packages
/packages/repositories.config
/Sources/_ReSharper.Plan
/Tests/Data.Test/bin
/Tests/Data.Test/obj
/Sources/Plan.suo
/Sources/Data/Data.csproj.user
/Tests/Data.Test/Data.Test.csproj.user
/Sources/Entities/Entities.csproj.user
/Sources/Plan.5.0.ReSharper.user