@using Client.Web.App_GlobalResources
@using Client.Web.Controllers
@using MvcJqGrid
@{
	Layout = "~/Views/Shared/MasterPages/_TwoColumnsLayout.cshtml";
}
<div class="right-columnAlt">
	@(Html.Grid("Basic")
	.SetCaption(Views.Transaction)
	.AddColumn(new Column("RegistrationDate").SetLabel(Views.Transaction_RegistrationDate))
	.AddColumn(new Column("TransactionDate").SetLabel(Views.Transaction_TransactionDate))
	.AddColumn(new Column("TransactionNumber").SetLabel(Views.Transaction_TransactionNumber))
	.AddColumn(new Column("TransactionCode").SetLabel(Views.Transaction_TransactionCode))
	.AddColumn(new Column("CurrencyType.Name").SetLabel(Views.CurrencyType))
	.AddColumn(new Column("Value").SetLabel(Views.Transaction_Value))
	.AddColumn(new Column("TransferType.Name").SetLabel(Views.TransferType))
	.AddColumn(new Column("Comment").SetLabel(Views.Comment))
	.AddColumn(new Column("TransferSubType.Name").SetLabel(Views.TransferSubType))
	.SetUrl(Url.Action(MainGridController.ListAction, MainGridController.Name))
	.SetAutoWidth(true)
	.SetRowNum(20)
	.SetVirtualScroll(true)
    .SetViewRecords(true)
    .SetHeight(230)
    .SetPager("pager"))
</div>