@using Client.Web.App_GlobalResources
@model Client.Web.Models.Controls.Menu.LeftMenuModel

<div class="menu-bar-holder">
    <ul id="menu-bar">
        <li><a href="@Model.HomeUrl">@Views.Home</a></li>
    </ul>
    <div class="menubarCapend">
    </div>
</div>