@section Title {Basic}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Basic Example</h1>
            <h2>razor engine</h2>
        </hgroup>
        
    </div>
</section>
}
@(Html.Grid("Basic")
    .SetCaption("Basic Grid")
    .AddColumn(new Column("Id"))
    .AddColumn(new Column("Name"))
    .SetUrl(Url.Action("GridDataBasic"))
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[]{10,15,20,50})
    .SetViewRecords(true)
    .SetPager("pager"))