@using Client.Web.App_GlobalResources
@model Client.Web.Models.Controls.Footer.FooterModel

<div class="clearFixBorder">
</div>
<div class="footer">
    <div class="listContainers">
        <ul>
            <li>
                <h3>
                    <a href="@Model.HomeUrl">@Views.Home</a>
                </h3>
            </li>
        </ul>
    </div>
	<div class="listContainers">
    </div>
</div>