<div class="content-wrapper">
  <div class="float-left">
    <p class="site-title">MVC jqGrid</p>
  </div>
  <div class="float-right">
    <section id="login">
      &nbsp;
    </section>
    <nav>
      <ul id="menu">
        <li>@Html.ActionLink("TestGrid", "Index", "TestGrid")</li>
      </ul>
    </nav>
  </div>
</div>