@using MP2.Core.Controlling.Controllers;
@{
    ViewBag.Title = "Page not found";
}
<div class="contentFixed">
    <div class="error no-validation-summary">
        <div id="icon">
            <img alt="No Permission" src="@Url.ThemeContent(@"error/error.png")">
        </div>
        <h2>
            No Permission</h2>
        <p>
            You do not have permission to view this page.</p>
    </div>
</div>
